* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Navbar Section  */
.navItem a{
  display: flex;
  flex-wrap: wrap;
  flex-grow: ;
  /* left: 50%; */
  /* position: relative; */
  font-size: 30px;
  justify-content: space-evenly;
  align-items: center;
}
.navItem1{
  display: flex;
  width: 40vw;
  left: 25%;
  position: relative;
}
.navBottom {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 20px 50px;
}
.menuItem {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 15px;
  color: lightgrey;
  cursor: pointer;
  font-weight: 500;
}

#cart_value {
  align-items: center;
}

.navItem_mobile{
  display: none;
}

#bar{
  display: none;
}





/* Hero Section  */
.container {
  height: 110vh;
  background-image: url(images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.carousel-inner .carousel-item img{
 height: 80vh;
 width :80vh;
}
.Title {
  position: absolute;
  top: 35%;
  right: 23%;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: rgb(24, 23, 23);
  z-index: 1;
}
.subTitle {
  position: absolute;
  top: 42%;
  right: 16%;
  font-size: 48px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  z-index: 1;
  line-height: 1;
}
.shopButton {
  position: absolute;
  top: 62%;
  right: 27%;
  font-size: 15px;
  padding: 12px 60px;
  font-weight: 500;
  border: none;
  color: #fff;
  background: #111;
  z-index: 1;
  cursor: pointer;
}
.shopButton:hover {
  background-color: rgb(39, 37, 37);
  color: #fff;
  transition: 0.5s;
}
.pagination-1 {
  position: absolute;
  bottom: 6%;
  width: 30px;
  left: 52%;
}
.fa-angle-left {
  position: absolute;
  top: 50%;
  left: 8%;
  font-size: 20px;
  color: #fff;
  background-color: #111;
  padding: 5px 8px;
  cursor: pointer;
}
.fa-angle-right {
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 20px;
  color: #fff;
  background-color: #111;
  padding: 5px 8px;
  cursor: pointer;
}

/* Gallery Section  */
.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  margin-bottom: 15px;
}
.gallery .box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 84%;
  margin: 25px 0px;
}
.column {
  display: flex;
  flex-direction: column;
  position: relative;
}
.column img {
  width: 100%;
  padding: 8px;
}
.gallery-content1 {
  width: 50%;
  padding: 25px;
  background-color: #fff;
  position: absolute;
  bottom: 8%;
  left: 25%;
}
.gallery-content1 h1 {
  font-size: 20px;
  margin-bottom: 8px;
}
.gallery-content1 a {
  color: #111;
  font-size: 14px;
}
.gallery-content2 {
  width: 50%;
  padding: 25px;
  background-color: #fff;
  position: absolute;
  top: 26%;
  left: 7%;
}
.gallery-content2 h1 {
  font-size: 20px;
  margin-bottom: 8px;
}
.gallery-content2 a {
  color: #111;
  font-size: 14px;
}
.gallery-content3 {
  width: 50%;
  padding: 25px;
  background-color: #fff;
  position: absolute;
  bottom: 5%;
  left: 7%;
}
.gallery-content3 h1 {
  font-size: 20px;
  margin-bottom: 8px;
}
.gallery-content3 a {
  color: #111;
  font-size: 14px;
}
.gallery-content4 {
  width: 50%;
  padding: 25px;
  background-color: #fff;
  position: absolute;
  bottom: 8%;
  left: 25%;
}
.gallery-content4 h1 {
  font-size: 20px;
  margin-bottom: 8px;
}
.gallery-content4 a {
  color: #111;
  font-size: 14px;
}

/* Trending Now Section  */
.trendingNow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 50vh;
  background-image: url('trending_now.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
  margin-top: 100px;
}
.trendingContent {
  width: 300px;
}
.trendingTitle {
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  padding: 20px;
  margin-top: -25px;
}
.trendingParagraph {
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 30px;
}
.trendingButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #111;
  border: none;
  background-color: #fff;
  padding: 12px 25px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}
.trendingButton:hover {
  transform: scale(0.9);
}

/* New Arrivals Section  */
.arrivalsItem:hover{
  transform: scale(1.1);
}

.newArrivals {
  background-color: #efefef;
  padding-bottom: 65px;
  margin-bottom: 10px;
}

.newArrivals .path{
  padding-bottom: 30px;
}

.newArrivals .info{
  padding: 20px;
  justify-content: space-between;
  display: flex;
}

.newArrivals .info .cart{
  color: #111;
  font-size: 40px;
}

.headingTitle {
  text-align: center;
  font-size: 22px;
  padding-top: 50px;
}
.dot {
  color: #e31919;
  font-size: 35px;
  border-radius: 50px;
}
.path {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -15px;
  width: 65px;
}
.arrivals {
  margin: 0px 50px;
  padding: 50px;
  display: flex;
  margin-bottom: -100px;
}
.arrivalsItem {
  flex: 1;
  padding: 15px;
}

.arrivalsItem .info {
  flex: 1;
  padding: 15px;
}
.arrivalsImg {
  width: 100%;
  cursor: pointer;
}
.arrivalsTitle {
  font-size: 15px;
  font-weight: 600;
  margin-top: 12px;
  color: #111;
}
.arrivalsPrice {
  font-size: 15px;
  font-weight: 600;
  margin-top: 8px;
  color: rgb(125, 121, 121);
}
.pagination-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  width: 55px;
}

/* Viewed Products Section  */
.viewedProducts {
  padding-bottom: 65px;
}
.headingTitle {
  text-align: center;
  font-size: 22px;
  padding-top: 50px;
}
.dot {
  color: #e31919;
  font-size: 35px;
  border-radius: 50px;
}
.path {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -15px;
  width: 65px;
}
.viewed {
  margin: 0px 50px;
  padding: 50px;
  display: flex;
  margin-bottom: -100px;
}
.viewedItem {
  flex: 1;
  padding: 15px;
}
.viewedImg {
  width: 100%;
  cursor: pointer;
}
.viewedTitle {
  font-size: 15px;
  font-weight: 600;
  margin-top: 12px;
  color: #111;
}
.viewedPrice {
  font-size: 15px;
  font-weight: 600;
  margin-top: 8px;
  color: rgb(125, 121, 121);
}

/* Top Footer Section  */
footer {
  display: flex;
  background: #141312;
  padding: 10px 30px;
  margin-top: 50px;
}
.footerLeft {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.fMenuTitle {
  font-size: 16px;
  margin-bottom: 15px;
  color: #fff;
}
.fList {
  padding: 0;
  list-style: none;
}
.fListItem {
  margin-bottom: 8px;
  color: #9b9b9a;
  cursor: pointer;
}
.footerRight {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footerMenu2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.fInput {
  padding: 7px 15px;
  border: none;
  background-color: transparent;
  outline: 1px solid #3b3b3b;
  margin-top: 8px;
}
.fInput:focus {
  color: rgb(148, 133, 133);
}
.fButton {
  padding: 8px 20px;
  background-color: #3b3b3b;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  margin-left: 3px;
}
.fIcons {
  display: flex;
}
.fIcon {
  width: 35px;
  height: 35px;
  padding: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 25px;
  color: #111;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

/* Bottom Footer Section  */
.footer {
  padding: 25px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #232323;
}
.footer p {
  color: #988f8f;
  justify-content: flex-start;
  font-size: 13px;
}

/* Responsive Design with Media Query  */

@media screen and (max-width: 600px) {

  .carousel-inner .carousel-item img{
    height:80vw;
    width :80%;
   }

  /* Navbar Section  */
  .navTop {
    padding: 20px 15px;
  }
  .logo {
    width: 35%;
    margin-right: 50px;
  }
  .influencer {
    display: none;
  }
  .icons {
    font-size: 20px;
    padding: 0px 5px;
    cursor: pointer;
  }
  .navBottom {
    flex-wrap: wrap;
    padding: 20px 0px;
    justify-content: flex-end;
  }
  .navItem1{
    display: none;
  }
  .navItem{
    position: relative;
    justify-content: flex-start;
    display: none;
  }
  .menuItem {
    margin: 5px;
    font-size: 14px;
    padding: 2px;
  }

  .navBottom .mobile{
    display: flex;
    justify-content: flex-end;
    color: white;
    justify-content: flex-end;
  }

  .navItem_mobile{

  }

  /* Hero Section  */
  .container {
    height: 60vh;
  }
  .Title {
    position: absolute;
    top: 12%;
    right: 40%;
    font-size: 14px;
  }
  .subTitle {
    position: absolute;
    top: 20%;
    right: 37%;
    font-size: 28px;
  }
  .shopButton {
    position: absolute;
    top: 75%;
    right: 64%;
    font-size: 13px;
    padding: 10px 20px;
  }
  .pagination-1 {
    bottom: 8%;
    left: 50%;
  }
  .fa-angle-left {
    left: 6%;
  }
  .fa-angle-right {
    right: 6%;
  }

  /* Gallery Section  */
  /*
  .gallery .box {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 35px 0px;
  }

  Best Selling Products Section 
  .headingTitle {
    font-size: 25px !important;
    padding-top: 30px;
  }
  .dot {
    font-size: 35px;
  }
  .path {
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .bestSeller-1 {
    margin: 0px 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: -80px;
  }
  .bestSeller-2 {
    margin: 60px 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .bestSellerTitle {
    font-size: 18px;
    margin-top: 20px;
  }
  .bestSellerPrice {
    font-size: 18px;
  }
  */

  /* Trending Now Section  */
  .trendingNow {
    width: 90vw;
    margin-bottom: -180px;
    margin-top: -30px;
  }
  .trendingContent {
    width: 250px;
  }
  .trendingTitle {
    font-size: 15px;
    padding: 0px;F
    margin-top: -145px;
  }
  .trendingParagraph {
    display: none;
  }
  .trendingButton {
    padding: 5px 10px;
    margin-top: 10px;
  }

  /* New Arrivals Section  */
  .newArrivals {
    padding-bottom: 65px;
    margin-bottom: 10px;
  }
  .headingTitle {
    font-size: 25px !important;
    padding-top: 30px;
  }
  .dot {
    font-size: 35px;
  }
  .path {
    margin-top: 5px;
  }
  .arrivals {
    margin: 0px 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: -80px;
  }
  .pagination-2 {
    margin-top: 100px;
    width: 35px;
  }
  .arrivalsTitle {
    font-size: 18px;
    margin-top: 20px;
  }
  .arrivalsPrice {
    font-size: 18px;
  }

  /* Viewed Products Section  */
  .viewedProducts {
    padding-bottom: 0px;
    margin-bottom: -60px;
  }
  .headingTitle {
    font-size: 25px !important;
    padding-top: 30px;
  }
  .dot {
    font-size: 35px;
  }
  .path {
    margin-top: 5px;
  }
  .viewed {
    margin: 0px 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .viewedImg {
    width: 100%;
    cursor: pointer;
  }
  .viewedTitle {
    font-size: 18px;
    margin-top: 20px;
  }
  .viewedPrice {
    font-size: 18px;
  }

  /* Top Footer Section  */
  footer {
    display: none;
  }

  /* Bottom Footer Section  */
  .footer {
    padding: 25px 50px;
  }
  .footer p {
    text-align: center;
    line-height: 1.5;
  }
}

@media screen {
  
}
