@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}
/* font styles */
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
  }
  
  h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
  }
  
  h4 {
    font-size: 20px;
    color: #222;
  }
  
  h6 {
    font-weight: 700;
    font-size: 12px;
  }
  
  p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
  }
  
  .section-p1 {
    padding: 40px 80px;
  }
  
  .section-m1 {
    margin: 40px 0;
  }
  button.normal{
    padding: 15px 18px;
    font-size: 15px;
    font-weight: 700;
    color: #285430;
    background-color: #D7E9B9;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: 0.2s ease;
  }
  button.White {
    padding: 11px 18px;
    font-size: 13px;
    font-weight: 600;
    color: black;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid black;
    outline: none;
    transition: 0.2s ease;
  }
  button.normal:hover{
    color: #850000;
    background-color: #F8F988;
    font-size: 16px;
  }
  button.White:hover{
    color: #850000;
    background-color: #F8F988;
  }
  
  body {
    width: 100%;
  }
  
  /* HEADER */
  .logo{
    height: 5rem;
    width: 6rem;
  }
  #logo{
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
  }
  #header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 60px;
    background: #B5D5C5;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
  }
  #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #navbar li{
    list-style : none;  /*remove bullet point of li*/
    padding: 0 22px;
    position: relative;
  }
  #navbar li a{
    text-decoration: none; /*removes underline of anchor*/
    font-size: 16px;
    font-weight:600;
    color: #3A4F7A;
    transition: 0.4s ease;  /*decreasing the speed of hover colour change*/
  }
  #navbar li a:hover,
  #navbar li a.active{
    color: #850000;
  }
  /* underline effect */
  #navbar li a.active::after,
  #navbar li a:hover::after{
    content: "";
    width: 35%;
    height: 4px;
    background: #850000;
    position: absolute;
    bottom: -4px;
    left: 20px;

  }
  #mobile{
    display: none;
    align-items: center;
  }
  #close{
    display: none;
  }


  /* HOME-PAGE */
#hero{
    background-image: url("../images/hero4.jpg");
    height: 90vh;
    width:100%;
    background-size: cover;
    background-position: top 25% right 25% ;
    padding: 80px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #3A4F7A;
}
#hero p{
    color: black;
    font-size: 20px;
}
.btn{
    background: none;
    border: 1px solid #3A4F7A;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    transition: 0.8s;
}
.btn1{
  color: #3A4F7A;
}
.btn1:hover{
  color: #850000;
}

/* FEATURE */
#feature{
  display: flex;
  align-items: center; /*done side se adjust ho jata hai (left and right) */
  justify-content: space-between; /*sare rows ke beech me gap la deta hai */
  flex-wrap: wrap;
}
#feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  border: 1px solid #3A4F7A;
  box-shadow:20px 20px 34px rgba(0,0, 0, 0.03) ;
  border-radius: 20px;
  margin: 15px 0px;
}
#feature .fe-box:hover{
  box-shadow:10px 10px 54px rgba(0,0, 0, 0.2) ;
}
#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px ;
  line-height: 1px;
  border-radius:4px;
  color: #3A4F7A;
  background-color: #EAC7C7;

}
/* color change for each feature box */
#feature .fe-box:nth-child(2) h6{
  background-color:#D7E9B9 ;
}
#feature .fe-box:nth-child(3) h6{
  background-color:#A8D1D1 ;
}
#feature .fe-box:nth-child(4) h6{
  background-color:#EEEEEE ;
}
#feature .fe-box:nth-child(5) h6{
  background-color: #FFFFD0;
}
#feature .fe-box:nth-child(6) h6{
  background-color:#F8F988 ;
}

/* PRODUCT1*/
#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1{
  text-align: center;
}
#product1 .pro {
  width: 31%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #D7E9B9;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0,0.03);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0,0.07);
} 
#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des{
  text-align: start;
  padding: 12px 0;
}
#product1 .pro .des span{
  font-size: 12px;
  color: #465b52;
}
#product1 .pro .des h5{
  font-size: 14px;
  padding-top:7px;
  color: #850000;
}
#product1 .pro .des i{
  font-size: 12px;
  color: rgb(100%, 84.3%, 0% );
}
#product1 .pro .des h4{
  font-size: 15px;
  padding-top: 7px;
  font-weight: 700;
  color: #285430;
}
#product1 .pro a{
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius:50px;
  background-color: #A8D1D1;
  font-weight: 500;
  font-size: 30px;
  color: #3A4F7A;
  border : 1px solid #D7E9B9;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* BANNER */
#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url("../images/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4{
  color: #fff;
  font-size: 16px;
}
#banner h2{
  color: #fff;
  font-size: 40px;
  padding: 10px 0px;
}
#banner h2 span{
  color: #FFB100;
  font-size: 45px;
}
#banner h2 span:nth-child(2){
  color: #10A19D;
}

/* PRODUCT2 */
#product2 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product2{
  text-align: center;
  background-color: #EEEEEE;
}
#product2 .pro2 {
  width: 45%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #D7E9B9;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0,0.03);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product2 .pro2:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0,0.07);
} 
#product2 .pro2 img{
  width: 100%;
  border-radius: 20px;
}
#product2 .pro2 .des{
  text-align: start;
  padding: 12px 0;
}
#product2 .pro2 .des span{
  font-size: 12px;
  color: #465b52;
}
#product2 .pro2 .des h5{
  font-size: 14px;
  padding-top:7px;
  color: #850000;
}
#product2 .pro2 .des i{
  font-size: 12px;
  color: rgb(100%, 84.3%, 0% );
}
#product2 .pro2 .des h4{
  font-size: 15px;
  padding-top: 7px;
  font-weight: 700;
  color: #285430;
}
#product2 .pro2 a{
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius:50px;
  background-color: #A8D1D1;
  font-weight: 500;
  font-size: 30px;
  color: #3A4F7A;
  border : 1px solid #D7E9B9;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
 /* END Banner */
#sm-banner{
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
}
#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../images/banner/b18.jpg");
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#sm-banner .banner-box2{
  margin: 0 10px;
  background-image: url("../images/banner/b10.jpg");
}
#sm-banner h4{
  color: #243763;
  font-size :20px;
  font-weight: 500;
}
#sm-banner h2{
  color: #850000;
  font-size :28px;
  font-weight: 800;

}
#sm-banner span{
  color: black;
  font-size :14px;
  font-weight: 500;
  padding-bottom: 15px;
}
#sm-banner .banner-box2 h4{
  color: #fff;
}
#sm-banner .banner-box2 h2{
  color: #FFB100;
}
/* NEWSLETTER */
#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("../images/banner/b1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#newsletter h4{
  color: #fff;
  font-weight: 700;
  font-size: 22px;
}
#newsletter p{
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}
#newsletter span{
  color: #EAC7C7;
  font-size: 15px;
}
#newsletter .form{
  display: flex;
  width: 40%;
  justify-content: center;
}
#newsletter input{
  height: 3rem;
  padding: 0 1.25em;
  font-size: 15px;
  width: 100%;
  border: 2px solid #3A4F7A;
  border-radius: 4px;
  outline:none;
}
#newsletter button{
  background-color: #10A19D;
  color: #fff;
  white-space: nowrap;
  padding: 10px 30px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease;
}
#newsletter button:hover{
  background-color: #D7E9B9;
  color: #10A19D;

}
 
/* FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .col{
    display: flex;  
    flex-direction: column;
    align-items:flex-start;
    margin-bottom: 20px;
}
footer .follow{
  margin-top: 20px;
}
footer .logo{
  margin-bottom: 20px;
}
footer h4{
  font-size: 17px;
  padding-bottom: 20px;
}
footer p{
  font-size: 13px;
  margin: 0 8px 8px 0;
}
footer a{
  font-size: 13px;
  color: black;
  text-decoration: none;
  margin: 4px 0 0 4px;
  transition: 0.2s ease;
}
footer .follow i{
  color: #243763;
  margin-right: 5px;
  cursor: pointer;
  transition: 0.2s ease;
}

footer .follow i:hover, footer a:hover{
    color: #850000;
}
footer .copyright{
  padding-top: 45px ;
  text-align: center;
  width: 100%;
}

/* MEDIA-QUERY */

@media(max-width: 799px){
  .section-p1{
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #B5D5C5;
    box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.2);
    padding: 80px 0px 0px 20px;
    transition: 0.4s;
  }
  #navbar.active{
    right: 0px;
  }
  #navbar li{
    margin-bottom: 20px;
  }
  #mobile{
    display: flex;
    align-items: center;
  }
  #mobile i{
    color:#3A4F7A ;
    font-size: 24px;
    padding-left: 20px;
  }
  #close{
    display: flex;
    position: absolute;
    top: 30px;
    left: 30px;
    color: black;
    font-size: 24px;
  }
  #lg-bag{
    display: none;
  }
  
  #hero {
   
    height: 40vh;
    padding: 0px 30px;
    background-position: top 30% right 30%;
    }
  #feature {
      justify-content: center;
      }
  #feature .fe-box {
    margin: 15px 15px;
  }
  #product1 .pro-container {
    justify-content:center;
   
  }
  #product1 .pro {
   margin: 15px;
  }
  #banner {
    height: 20vh;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
    margin-bottom: 20px;
   }
   #newsletter .form{
    width: 70%;
   }
}
@media(max-width: 477px){
  .section-p1{
    padding: 20px;
  }
  #header{
    padding: 10px 30px;
  }
  #hero{
    padding: 0px 20px;
    background-position: 55%;
    height: 90vh;
  }
  h2{
    font-size: 32px
  }
  h1{
    font-size: 38px;
  }
  #feature{
    justify-content: space-between;
  }
  #feature .fe-box{
    width:155px;
    margin: 0 0 15px 0;
  }
  #product1 .pro{
    width: 100%;
  }
  #banner{
    height: 40vh;
  }
  #sm-banner .banner-box{
    height: 40vh;
  }
  #product2 .pro-container {
    padding-top: 20px;
    padding-left: 40px;
  }
  #sm-banner .banner-box2{
    margin-top: 20px;
    height: 50vh;
  }
  #newsletter .form{
    width: 100%;
   }
   #newsletter{
    padding: 40px 20px;
   }
   #footer.copyright{
    text-align: start;
   }
}


